<div class="flex flex-col w-full justfiy-center items-center">
        <h1 class="text-5xl font-bold text-gray-400 ">Welcome Admin DashBoard</h1>
        <div class="flex flex-col gap-8 justfiy-center items-center md:flex-row md:justfiy-between w-full">
                <div class="max-w-sm rounded overflow-hidden md:w-48 shadow-lg bg-gradient-t-r from-red-400 to-red-300">
                        <div class="px-6 py-2">
                                <h2 class="text-2xl font-bold mb-2">
                                        Sign ups
                                </h2>
                                <%= @quick_status[:sign_ups]%>
                        </div>
                </div>
                <div class="max-w-sm rounded overflow-hidden md:w-48 shadow-lg bg-gradient-t-r from-red-400 to-red-300">
                        <div class="px-6 py-2">
                                <h2 class="text-2xl font-bold mb-2">
                                        Sign ups
                                </h2>
                                <%= @quick_status[:sign_ups]%>
                        </div>
                </div>
                <div class="max-w-sm rounded overflow-hidden md:w-48 shadow-lg bg-gradient-t-r from-red-400 to-red-300">
                        <div class="px-6 py-2">
                                <h2 class="text-2xl font-bold mb-2">
                                        Sign ups
                                </h2>
                                <%= @quick_status[:sign_ups]%>
                        </div>
                </div>
                <div class="max-w-sm rounded overflow-hidden md:w-48 shadow-lg bg-gradient-t-r from-red-400 to-red-300">
                        <div class="px-6 py-2">
                                <h2 class="text-2xl font-bold mb-2">
                                        Sign ups
                                </h2>
                                <%= @quick_status[:sign_ups]%>
                        </div>
                </div>
        </div>
</div>