<p style="color: green"><%= notice %></p>

<h1 class="text-2xl text-gray-400 text-center mb-6 mt-4"> All Courses</h1>

<div id="courses" class="flex flex-wrap gap-14">
  <% @courses.each do |course| %>
    <%= render course, user_unlocked_courses:@user_unlocked_courses %>
  <% end %>
</div>

<%= link_to "New course", new_course_path %>
