<div class="flex flex-col justify-center items-center">
  <div class="ml-80">
    <h1 class="text-3xl font-bold text-gray-400 mb-4 underline">Edit Course</h1>
  </div>
  <div>
    <%= render "form", admin_course: @admin_course %>
  </div>
</div>
